.seconds {
    background: black;
    width: 5%;
    height: 5%;
    color: red;
    text-align: center;
    font-size: -webkit-xxx-large;
    padding-top: 10px;
    margin-top: 10px;
}
p{
    font-size: 1em;
    color: black;
}
b{
    color: blue;
    font-size: 1.25em;
}
.clsexample{
    border: 1px solid red;
    padding-left: 10px;
}