<div class="rowcol-12">
  <p>Component Interaction:</p>
  <p><b>1.Pass data from parent to child with input binding:</b> typically adorned with @Input decorations.</p>
  <p><b>2.Parent listens for child with @Output decoration:</b> The child component exposes an EventEmitter property
    with which it emits events when something happens. The parent binds to that event property and reacts to those
    events. typically adorned with an @Output decoration.</p>
  <p><b>3.Parent interacts with child via local variable:</b>A parent component cannot use data binding to read child
    properties or invoke child methods. You can do both by creating a template reference variable for the child element
    and then reference that variable within the parent template as seen in the above example.</p>
  <div class="clsexample">
    <h3>Countdown to Liftoff (via local variable)</h3>
    <button (click)="timer.start()" class="btn btn-primary">Start</button>&nbsp;
    <button (click)="timer.stop()" class="btn btn-primary">Stop</button>
    <div class="seconds">{{timer.seconds}}</div>
    <app-childvialocalvariable #timer></app-childvialocalvariable>
  </div>
  
  <p><b>4.Parent calls an @ViewChild():</b>The local variable approach is simple and easy. But it is limited because the
    parent-child wiring must be done entirely within the parent template. The parent component itself has no access to
    the child. You can't use the local variable technique if an instance of the parent component class must read or
    write child component values or must call child component methods.</p>
  <div class="clsexample">
    <h3>@ViewChild example</h3>
    <hr>
    <h6>Click any button to pass the message to child component and show the message</h6>
    <br>
    <div class="row mb-4">
      <div class="col-sm-12">
        <button class="btn btn-success mr-4" (click)="success()">Save Success</button>&nbsp;
        <button class="btn btn-warning" (click)="failed()">Save Failes</button>
      </div>
      
    </div>
    <app-childviaviewchild></app-childviaviewchild>
  </div>
  <p><b>5.Parent and children communicate via a service:</b> A parent component and its children share a service whose
    interface enables bi-directional communication within the family. The scope of the service instance is the parent
    component and its children. Components outside this component subtree have no access to the service or their
    communications.</p>
</div>