<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/app-home">WebSiteName</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a routerLink="/app-home">Home</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples
					<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a routerLink="/app-event-propertybinding">Bindings</a></li>
					<li><a routerLink="/SortingSearching">Sorting&Searching</a></li>
					<li><a routerLink="/ImageGallery">Image Gallery</a></li>
					<li><a routerLink="/EncryptionDescryption">Encryption Descryption</a></li>
					<li><a routerLink="/app-form-operation">Contact us</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Angular Ex.
					<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a routerLink="/ServersComponent">Simple binding</a></li>
					<li><a routerLink="/ServersWithParnentchildComponent">Binding With Parent/Child Component</a></li>
					<li><a routerLink="/AutoCompleteComponent">PrimeNG Example</a></li>
					<li><a routerLink="/CompLifecycleComponent">Component Lifecycle Example</a></li>
					<li><a routerLink="/DirectiveExampleComponent">Directive Example</a></li>
					<li><a routerLink="/PipesImplementsComponent">Pipes Example</a></li>
					<li><a routerLink="/GetChildValueComponent">Get Child Component Value</a></li>
					<li><a routerLink="/ParentvialocalvariableComponent">Parent interacts with child via local variable
						</a></li>
					<li><a routerLink="/app-translate-text">Translate Text</a></li>
					<li><a routerLink="/WebCamComponent">Capture Image from Camera</a></li>
				</ul>
			</li>
			<li><a href="#">Page 2</a></li>
			<li><a href="#">Page 3</a></li>
		</ul>
	</div>
</nav>