<div class="row">
  <div class="col-sm-12">
    <p class="text-primary">Property Bindings</p>
  </div>
</div>
<div class="row">
<div class="col-sm-3">
    <p class="text-success"><b>{{Eventtext1}}</b></p>
  </div>
<div class="col-sm-3">
  <p class="text-success"><b>{{Eventtext}}</b></p>
</div>
<div class="col-sm-3">

  <h1 [ngStyle]="{
        'color': h1Style ? 'gray' : 'Red',
        'font-size': !h1Style ? '1em' : '2em'
      }">{{Eventtext2}}</h1>
</div>
</div>
<div class="row">
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" (click)="clickMe()">Click me</button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" (click)="clickMewithservice()">Service Call</button>
  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary" (click)="stypebinding()">Style binding</button>
  </div>
</div>