<div class="conatiner" style="padding-top:20px;">
  <div class="col-sm-12" style="padding-top:20px;padding-bottom:20px;">
    <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">
  </div>

  <table class="table table-striped">
    <thead>
      <tr matSort (matSortChange)="sortFood($event)">
        <th mat-sort-header="Id">Id</th>
        <th mat-sort-header="Name">Name</th>
        <th mat-sort-header="MobileNo">Mobile No</th>
        <th mat-sort-header="Department"> Department</th>
        <th mat-sort-header="City">City</th>
        <th mat-sort-header="country">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of sortedFood |filter:filter| paginate: { itemsPerPage: 6, currentPage: p }">
        <td>{{emp.Id}}</td>
        <td>{{emp.Name}}</td>
        <td>{{emp.MobileNo}}</td>
        <td>{{emp.Department}}</td>
        <td>{{emp.City}}</td>
        <td>{{emp.country}}</td>
      </tr>
      <tr>
        <td colspan="6">
          <ul class="pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </ul>
          <!-- <mat-paginator [length]="100" [pageSize]="6" [pageSizeOptions]="[6, 10, 25, 100]"
            (page)="pageEvent = $event">
          </mat-paginator> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>